.summary {
  padding: 1rem 3rem;
  @media only screen and (max-width: 568px) {
    pading: 1rem 2rem;
  }
  @media only screen and (max-width: 414px) {
    pading: 1rem 1rem;
  }

  &-title {
    color: rgb(42, 43, 45);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  &-general {
    color: rgb(42, 43, 45);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 667px) {
      justify-content: space-between;
    }
    @media only screen and (max-width: 568px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 414px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__sector {
      color: gray;
      padding-left: 2rem;
      @media only screen and (max-width: 667px) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width: 414px) {
        padding-left: 0;
        font-size: 1.2rem;
      }
    }
  }
  &-ratingAndHistoricalPrice {
    display: flex;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}
.statements {
  &-container {
    padding: 1rem 0;
  }
  &-individual-container {
    &__laptop {
      overflow-x: auto;
      @media only screen and (max-width: 568px) {
        display: none;
      }
    }
    &__phone {
      display: none;
      @media only screen and (max-width: 568px) {
        display: block;
      }
    }
  }
  &-title {
    color: rgb(42, 43, 45);
    padding: 1rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 568px) {
      font-size: 1.5rem;
    }
  }
  &-download {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    @media only screen and (max-width: 568px) {
      width: 3rem;
      height: 3rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.table {
  color: rgb(42, 43, 45);
}

.about {
  &-container {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 2rem;
  }
  &-title {
    font-size: 2rem;
  }
  &-content {
    &__upper {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      @media only screen and (max-width: 1024px) {
        flex-direction: column;
      }
    }

    &__detail {
      width: 20%;
      @media only screen and (max-width: 1024px) {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &-title {
        font-weight: 700;
        color: rgb(87, 96, 100);
        @media only screen and (max-width: 1024px) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.year-container {
  vertical-align: middle !important;
}
.phone-headers {
  @media only screen and (max-width: 568px) {
    font-size: 12px;
    width: 65%;
  }
}

.right-headers {
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
  }
  @media only screen and (max-width: 568px) {
    display: none;
  }
}
