.summary {
  padding: 1rem 3rem;
  &-title {
    color: rgb(42, 43, 45);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  &-general {
    color: rgb(42, 43, 45);
    font-size: 1.8rem;
    display: flex;

    &__sector {
      color: gray;
      padding-left: 2rem;
    }
  }
  &-ratingAndHistoricalPrice {
    display: flex;
  }
}
.statements {
  &-container {
    padding: 1rem 0;
  }
  &-title {
    color: rgb(42, 43, 45);
    padding: 1rem 0;
    font-size: 2rem;
  }
}

.table {
  color: rgb(42, 43, 45);
}

.about {
  &-container {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 2rem;
  }
  &-title {
    font-size: 2rem;
  }
  &-content {
    &__upper {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
    }
    &__lower {
    }
    &__detail {
      width: 20%;
      &-title {
        font-weight: 700;
        color: rgb(87, 96, 100);
      }
    }
  }
}
