.rating {
  &-container {
    width: 55%;
    padding: 1rem 3rem 0 0;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
    &__empty {
      width: 55%;
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  &-subcontainer {
    display: flex;
    justify-content: space-between;
  }
  &-subtitle {
    font-weight: 600;
    color: #636b6f;
  }
  &-general-container {
    padding: 7px 0;
  }
  &-recommendation {
    font-size: 2rem;
    color: #636b6f;
    padding-left: 3px;
  }
}

.star {
  padding-left: 1rem;
  color: gold;
}

.detail-rating-recommendation {
  color: rgb(0, 158, 55);
  border-bottom: 1px solid lightgray;
}

.rating-tables {
  display: flex;
}
