.rating {
  &-container {
    width: 55%;
    padding: 1rem 3rem 0 0;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
    &__empty {
      width: 55%;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  &-subcontainer {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 414px) {
      flex-direction: column;
    }
  }
  &-subtitle {
    font-weight: 600;
    color: #636b6f;
  }
  &-general-container {
    padding: 7px 0;
  }
  &-recommendation {
    font-size: 2rem;
    color: #636b6f;
    padding-left: 3px;
    @media only screen and (max-width: 667px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 414px) {
      font-size: 1rem;
      color: rgb(0, 158, 55);
    }
  }
}

.star {
  padding-left: 1rem;
  color: gold;
}

.detail-rating-recommendation {
  color: rgb(0, 158, 55);
  border-bottom: 1px solid lightgray;
}

.rating-tables {
  display: flex;
  overflow-x: auto;

  &__1 {
    width: 45%;
    min-width: 262px;
  }
  &__2 {
    width: 55%;
    min-width: 320px;
  }
}

.rating-tables__1,
.rating-tables__2 {
  border-left: none;
  border-right: none;
}
th,
td {
  word-wrap: nowrap;
}
