.mynavbar {
  padding: 0.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(233, 233, 233);
  background-color: rgb(42, 43, 45);
  @media only screen and (max-width: 667px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 414px) {
    padding: 1rem 2rem;
  }
  &-brand {
    font-size: 2rem;
    cursor: pointer;
    @media only screen and (max-width: 414px) {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }
}
.nav-form {
  position: relative;
  width: 100%;

  &__input-container {
    width: 30%;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 812px) {
      width: 50%;
    }
    @media only screen and (max-width: 667px) {
      width: 100%;
      justify-content: center;
    }

    i {
      position: relative;
      left: -2rem;
      color: rgb(41, 42, 44);
    }
  }

  &__input {
    width: 100%;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 5px 1rem;
    &:focus {
      outline: none;
    }
  }
  &__result {
    background-color: #fff;
    color: rgb(41, 42, 44);
    position: absolute;
    z-index: 999;
    -webkit-transform: translateZ(999px);
    width: 100%;
    top: 100%;

    max-height: 25rem;
    overflow-y: auto;

    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
  }
  &__option {
    padding: 1rem 1rem;
    &:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }

    &:hover {
      background-color: lightgray;
    }
    &-details {
      margin-right: 5px;
    }
  }
}
.result {
  &-container {
    padding: 7px 14px;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    border-bottom: 0.5px solid lightgray;
    &:hover {
      background-color: lightgray;
    }
  }
  &-symbol {
    font-weight: 700;
  }
  &-item {
    &:not(:last-child) {
      padding-right: 2px;
    }
  }
}

.banner {
  background-color: rgb(29, 29, 31);
  color: rgb(233, 233, 233);
  padding: 7px 0px;

  &-content {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 120s;
    animation-delay: 1s;
    -webkit-animation-name: marquee;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 120s;
    -webkit-animation-delay: 1s;
    &:hover {
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
      cursor: default;
    }
  }
  &-individual {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    &-ticker {
      margin-right: 5px;
    }
    &-price {
      margin-right: 5px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(5%);
    -webkit-transform: -webkit-translateX(5%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: -webkit-translateX(-100%);
  }
}
