.footer {
  padding: 2rem 3rem;
  margin-top: auto;
  background-color: rgb(48, 54, 60);
  color: rgb(232, 232, 232);
  &-text {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 2rem 0;
  }
  &-copyright {
    padding-top: 2rem;
    text-align: center;
  }
  &-email {
    text-decoration: underline;
    padding-left: 3px;
  }
}
